<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <mat-toolbar color="accent">
  
    <h1> HuskyJobs! - NorthEastern's Internal Job Portal </h1>
    
    <button mat-icon-button  style="margin-left:75em"[matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>account_circle</mat-icon>
        <span>Profile</span>
      </button>


      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>

      <button mat-menu-item>
        <mat-icon>mail</mat-icon>
        <span>Contact Us</span>
      </button>



      <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>

  </mat-toolbar>

  <br>
  <img width="700" height="400" alt="Angular Logo" src="../assets/images/HuskyJobPortal.jpeg" />
  <br>
  <div>
    <a mat-raised-button style="margin-left:2.5em" color="primary" routerLink="/signin">Sign In</a>
    <a mat-raised-button style="margin-left:2.5em" color="primary" routerLink="/register">Register</a>
    <a mat-raised-button style="margin-left:2.5em" color="primary" routerLink="/alljobs">View All Posted Jobs</a>
  </div>

</div>


<router-outlet></router-outlet>