<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to HuskyJobs
  </h1>
  <img width="300" alt="Angular Logo" src="../assets/images/HuskyJobPortal.jpeg" />
  <br>
  <div>
    <a mat-raised-button color="primary" routerLink="/signin">Sign In</a>
    <br>
    <a mat-raised-button color="primary" routerLink="/register">Register</a>
    <br>
    <a mat-raised-button color="primary" routerLink="/alljobs">View All Posted Jobs</a>
  </div>

</div>

<router-outlet></router-outlet>

