.fill-remaining-space {
  
    margin-left: 10px;
    transition-duration: 0.4s;
  }

/* .portalName-Header{
  font-style: italic;
}

.menu-buttons{
  transition-duration: 0.4s;
}

#example-fill-remaining-space:hover {
  background-color: #4CAF50;
  color: white;
} */