<span> <a mat-raised-button color="primary" routerLink="../">Go to Home</a> </span>

<form class="registration-form" (ngSubmit)="onSubmit()" #myForm="ngForm" style="align-items: center">
  <p>Name:
    <mat-form-field appearance="fill">
      <mat-label>Enter your Name</mat-label>
      <input matInput placeholder="Name" [(ngModel)]="user.name" name="enteredname">
      <!--   <mat-hint>We need your name for the ID badge ;) !</mat-hint>-->
    </mat-form-field>
    <br>
    Email:
    <mat-form-field appearance="fill">
      <mat-label>Enter your Email</mat-label>
      <input matInput placeholder="Email" [(ngModel)]="user.email" name="enteredemail">
      <!--   <mat-hint>We need your name for the ID badge ;) !</mat-hint>-->
    </mat-form-field>
    <br>
    Username:
    <mat-form-field appearance="fill">
      <mat-label>Enter the desired Username</mat-label>
      <input matInput placeholder="Username" [(ngModel)]="user.username" name="enteredusername">
      <!--   <mat-hint>We need your name for the ID badge ;) !</mat-hint>-->
    </mat-form-field>
    <br>
    Password:
    <mat-form-field appearance="fill">
      <mat-label>Enter your Password</mat-label>
      <input matInput placeholder="Password" [(ngModel)]="user.password" name="enterednamepassword">
      <!--   <mat-hint>Must contain atleast 8 characters containing one uppercase letter, one number and one specialcase character from !#$%^&*()?</mat-hint>-->
    </mat-form-field>
    <br>
    Location:
    <mat-form-field appearance="fill">
      <mat-label>Enter your Location</mat-label>
      <input matInput placeholder="Location" [(ngModel)]="user.location" name="enteredlocation">
      <!--   <mat-hint>We need your name for the ID badge ;) !</mat-hint>-->
    </mat-form-field>
    <br>

    Role:
    <mat-form-field appearance="fill">
      <mat-label>Enter your Role</mat-label>
      <!-- <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1" [(ngModel)]="user.role" name="enterednamerole">Applicant</mat-radio-button>
                <mat-radio-button value="2"[(ngModel)]="user.role" name="enterednamerole">Job Poster</mat-radio-button>
              </mat-radio-group> -->
      <input matInput placeholder="Role" [(ngModel)]="user.role" name="enterednamerole">
      <!--   <mat-hint>We need your name for the ID badge ;) !</mat-hint>-->
    </mat-form-field>
    <br>

    Highest Education:
    <mat-form-field appearance="fill">
      <mat-label>Enter your Highest Education</mat-label>
      <input matInput placeholder="Education" [(ngModel)]="user.education" name="enterednameeducation">
      <!--   <mat-hint>We need your name for the ID badge ;) !</mat-hint>-->
    </mat-form-field>
    <br>
  </p>


  <p>
    <button mat-raised-button style="margin-left:2.5em" color="primary" type="submit" md-raised-button>Submit</button>
  </p>
</form>

<!-- 
<h3>Address Form</h3>
<form class="formwidth" (ngSubmit)="onSubmit()" #myForm="ngForm">
  <table class="fullwidth" cellspacing="0">
    <tr>
      <td>
        <md-input-container class="fullwidth">
          <input mdInput placeholder="First Name" id="firstname" [(ngModel)]="address.firstname" name="firstname">
        </md-input-container>
      </td>
      <td>
        <md-input-container class="fullwidth">
          <input mdInput placeholder="Last Name" id="lastname" [(ngModel)]="address.lastname" name="lastname">
        </md-input-container>
      </td>
    </tr>
  </table>
  <p>
    <md-input-container class="fullwidth">
      <textarea mdInput placeholder="Address" id="address" [(ngModel)]="address.address" name="address"></textarea>
    </md-input-container>
  </p>
  <table class="fullwidth" cellspacing="0">
    <tr>
      <td>
        <md-input-container class="fullwidth">
          <input mdInput placeholder="City" id="city" [(ngModel)]="address.city" name="city">
        </md-input-container>
      </td>
      <td>
        <md-input-container class="fullwidth">
          <input mdInput placeholder="State" id="state" [(ngModel)]="address.state" name="state">
        </md-input-container>
      </td>
      <td>
        <md-input-container class="fullwidth">
          <input mdInput #postalcode maxlength="5" placeholder="Postal Code" id="postalcode" [(ngModel)]="address.postalcode" name="postalcode">
          <md-hint align="end">
            {{postalcode.value.length}} / 5
          </md-hint>
        </md-input-container>
      </td>
    </tr>
  </table>
  <p>
    <button type="submit" md-raised-button>Submit</button>
  </p>
</form> -->